*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: coral;
}
body{
  margin-bottom: 7rem;
}

h2{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;

}

h3{
 margin: 2rem;
  font-size: 24px;
  text-decoration: underline;
}

.formulario{
  margin: 20px;
  font-size: 19px;
  text-align: center;

}

#uno{
  width: 80px;
  height: 15px;

}
#dos{
  width: 80px;
  height: 15px;
}



#valor{
  font-size: 20px;

}
#cotizador{
  font-size: 20px;
  border-radius: 20%;
  background-color: red;
}
table{
  margin-top: 1rem;
  margin-left: 3rem;
}

table, th, td {
  border: 1px solid;
}

form p{
  margin-top: 2rem;
}

#buscarMoneda{
  margin-top: 3rem;
  margin-left: 3rem;
}

